body {
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 4;
  padding: 0 10px;
}
body header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  width: 100%;
  max-width: 1229px;
  padding: 6px 0;
}
body header div nav ul {
  display: flex;
  gap: 20px;
}
body header div nav ul li {
  list-style-type: none;
}
body header div nav ul li a {
  text-decoration: none;
}
body header div nav ul li a:hover {
  cursor: pointer;
}
body header div .right {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
body header div .right i {
  font-size: 26px;
}
body header div .right i:hover {
  cursor: pointer;
}
body header div .right button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
}
body header div .right button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body .bash-hisse {
  background-image: url("../../../../assests/images/home-conference-video-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .bash-hisse #homePages {
  width: 100%;
  max-width: 1229px;
  margin: auto;
  position: relative;
}
body .bash-hisse #homePages .yuxari {
  height: 720px;
  padding-top: 180px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  position: relative;
}
body .bash-hisse #homePages .yuxari h2 {
  position: absolute;
  top: 388px;
  left: -20px;
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 190px;
  font-weight: bolder;
  animation: toRight-slow 8s linear infinite;
  min-width: 1000px;
}
@keyframes toRight-slow {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(60px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body .bash-hisse #homePages .yuxari img {
  position: absolute;
}
body .bash-hisse #homePages .yuxari img:nth-child(1) {
  top: 60px;
  left: 0;
  animation: toRight 7s linear infinite;
}
@keyframes toRight {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(70px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body .bash-hisse #homePages .yuxari img:nth-child(2) {
  top: 10px;
  right: 10px;
  animation: toRight 7s linear infinite;
}
@keyframes toRight {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(70px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body .bash-hisse #homePages .yuxari img:nth-child(3) {
  bottom: -136px;
  left: calc(100% - 10px);
  animation: toRight-slow 8s linear infinite;
}
@keyframes toRight-slow {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-60px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body .bash-hisse #homePages .yuxari .content {
  z-index: 1;
}
body .bash-hisse #homePages .yuxari .content .yazi h3 {
  font-family: sans-serif;
  font-size: 58px;
  font-weight: 700;
}
body .bash-hisse #homePages .yuxari .content .yazi p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 36px 0;
}
body .bash-hisse #homePages .yuxari .content .btns {
  padding: 36px 0;
}
body .bash-hisse #homePages .yuxari .content .btns button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
}
body .bash-hisse #homePages .yuxari .content .btns button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body .bash-hisse #homePages .yuxari .content .btns button:last-child {
  color: #6f42c1;
  background: transparent;
}
body .bash-hisse #homePages .yuxari .content .btns button:last-child:hover {
  background: #6f42c1;
  color: #ffffff;
}
body .bash-hisse #homePages .yuxari iframe {
  z-index: 1;
  width: 30%;
  height: 22vw;
  max-height: 300px;
  border-radius: 20px;
  animation: toBottom 7s linear infinite;
}
@keyframes toBottom {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(-36px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body .ashagi {
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .ashagi .timer {
  width: 100%;
  max-width: 1229px;
  height: 187px;
  width: 100%;
  background-image: url("../../../../assests/images/timer-bg.png");
  background-size: 100% 187px;
  background-repeat: no-repeat;
  position: relative;
  top: -100px;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  box-shadow: 0 20px 120px rgba(111, 66, 193, 0.4);
  border-radius: 22px;
}
body .ashagi .timer .time-unit {
  text-align: center;
}
body .ashagi .timer .time-unit p:first-child {
  background: linear-gradient(to right, #7B68EE, #e600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 52px;
  font-weight: 600;
}
body .ashagi .timer .time-unit p:last-child {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-top: 18px;
}
body .ashagi .conf-contact {
  width: 100%;
  max-width: 1229px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
body .ashagi .conf-contact .contact-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  height: 66px;
  width: calc((100% - 40px) / 3);
  border: 1px solid black;
  border-radius: 5px;
}
body .ashagi .conf-contact .contact-tool i {
  color: purple;
  font-size: 24px;
}
body .ashagi .conf-contact .contact-tool a {
  text-decoration: none;
  color: black;
}
body .bg-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .bg-2 #about {
  width: 100%;
  max-width: 1229px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
}
body .bg-2 #about .about-oval {
  background-color: rgba(102, 0, 204, 0.1019607843);
  color: #6f42c1;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  border-radius: 15px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 120px;
}
body .bg-2 #about .yazi h3 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 580;
  padding: 20px 8%;
}
body .bg-2 #about .yazi p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: silver;
  padding: 20px 8%;
}
body .bg-2 #about .about-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 30px;
  padding-bottom: 90px;
  border-bottom: 1px solid silver;
}
body .bg-2 #about .about-cards div {
  position: relative;
}
body .bg-2 #about .about-cards div img {
  width: 100%;
  height: 100%;
}
body .bg-2 #about .about-cards div .date-info {
  position: absolute;
  bottom: 15%;
  left: 40px;
  text-align: start;
}
body .bg-2 #about .about-cards div .date-info p:first-child {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
body .bg-2 #about .about-cards div .date-info p:last-child {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
}
body .bg-2 #about .about-cards div .play {
  width: 40px;
  height: 40px;
  background-color: rgba(240, 237, 237, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 18%;
  right: 10%;
  border-radius: 5px;
}
body .bg-2 #about .about-cards div .play:hover {
  background-color: #6f42c1;
}
body .bg-2 #about .about-cards div:nth-child(1) {
  grid-area: 1/1/2/3;
}
body .bg-2 #about .about-cards div:nth-child(2) {
  grid-area: 1/3/2/4;
}
body .bg-2 #about .about-cards div:nth-child(3) {
  grid-area: 1/4/2/5;
}
body .bg-2 #schedule {
  width: 100%;
  position: relative;
  width: 100%;
  max-width: 1229px;
  padding: 96px 10px;
}
body .bg-2 #schedule .schedule-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
body .bg-2 #schedule .schedule-head div {
  background-color: rgba(102, 0, 204, 0.1019607843);
  color: #6f42c1;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  border-radius: 15px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .bg-2 #schedule .schedule-head h3 {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  width: 78%;
  margin-top: 20px;
}
body .bg-2 #schedule .schedule-content {
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(111, 66, 193, 0.3);
  position: relative;
}
body .bg-2 #schedule .schedule-content .days {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 100px;
}
body .bg-2 #schedule .schedule-content .days p:hover {
  color: #6f42c1;
  cursor: pointer;
  position: relative;
}
body .bg-2 #schedule .schedule-content .days p:hover::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 5px);
}
body .bg-2 #schedule .schedule-content .cards-wrapper {
  padding: 0 40px;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card {
  background-image: url("../../../../assests/images/schedule1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px 8%;
  margin: 30px 0;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 30px rgba(111, 66, 193, 0.3);
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .profile-image {
  border-radius: 50%;
  overflow: hidden;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .name-date-time {
  text-align: center;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .name-date-time .speaker-name p {
  color: #6f42c1;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .name-date-time .date-time p {
  font-weight: bold;
  margin-top: 3px;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .meet-info {
  width: 40%;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .meet-info p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5a5a5a;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .meet-info p a {
  text-decoration: none;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .card-btn button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .card .card-btn button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .schedule-foot {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 56px;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .schedule-foot button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
  background: white;
  color: #6f42c1;
  border: 2px solid #6f42c1;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .schedule-foot button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body .bg-2 #schedule .schedule-content .cards-wrapper .schedule-foot button:hover {
  color: white;
}
body .bg-2 #schedule .schedule-dots2 {
  position: absolute;
  bottom: 30px;
  right: -26px;
  z-index: -1;
  animation: yuxari 7s linear infinite;
}
@keyframes yuxari {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(-20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body #sponsors {
  width: 100%;
  margin-bottom: 100px;
}
body #sponsors .brands {
  width: 100%;
  max-width: 1229px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 80px;
}
body #sponsors .brands .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: #3A3B7B;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}
body #sponsors .bg-3 {
  width: 100%;
  background-image: url("../../../../assests/images/home-conference-video-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
body #sponsors .bg-3 .sp-content {
  width: 100%;
  max-width: 1229px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15%;
  width: 100%;
  padding-bottom: 50px;
}
body #sponsors .bg-3 .sp-content .images {
  width: 40%;
  position: relative;
}
body #sponsors .bg-3 .sp-content .images .dots {
  position: absolute;
  left: 380px;
  top: -250px;
  animation: sola 8s linear infinite;
}
@keyframes sola {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-60px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body #sponsors .bg-3 .sp-content .images .video1 {
  position: absolute;
  border-radius: 22px;
  overflow: hidden;
  top: -200px;
  left: 0;
  animation: yuxari 6s linear infinite;
}
@keyframes yuxari {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
body #sponsors .bg-3 .sp-content .images .video2 {
  border-radius: 22px;
  position: absolute;
  overflow: hidden;
  right: -80px;
  top: 36px;
}
body #sponsors .bg-3 .sp-content .writes {
  width: 40%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
body #sponsors .bg-3 .sp-content .writes h4 {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 42px;
}
body #sponsors .bg-3 .sp-content .writes p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 42px;
  color: #5a5a5a;
}
body #sponsors .bg-3 .sp-content .writes .quantity {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-left: 60px;
  margin-top: 36px;
  margin-bottom: 60px;
  gap: 40px;
}
body #sponsors .bg-3 .sp-content .writes .quantity div {
  text-align: start;
}
body #sponsors .bg-3 .sp-content .writes .quantity div p:first-child {
  background: linear-gradient(to right, #7B68EE, #e600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 52px;
  font-weight: 600;
  margin: 0;
}
body #sponsors .bg-3 .sp-content .writes .quantity div p:last-child {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin: 0;
}
body #sponsors .bg-3 .sp-content .writes .register-btn {
  margin-bottom: 40px;
}
body #sponsors .bg-3 .sp-content .writes .register-btn button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
}
body #sponsors .bg-3 .sp-content .writes .register-btn button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body #speakers {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
body #speakers .inner-box {
  width: 100%;
  max-width: 1229px;
  border-bottom: 1px solid silver;
}
body #speakers .inner-box .top-writes {
  padding: 0 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #speakers .inner-box .top-writes p {
  background-color: rgba(102, 0, 204, 0.1019607843);
  color: #6f42c1;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  border-radius: 15px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body #speakers .inner-box .top-writes h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  max-width: 900px;
  margin-top: 24px;
  margin-bottom: 40px;
}
body #speakers .inner-box .cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
body #speakers .inner-box .cards-wrapper .card .photo {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: filter 1s;
}
body #speakers .inner-box .cards-wrapper .card .photo::not(:hover) {
  transition: filter 1s;
}
body #speakers .inner-box .cards-wrapper .card .photo img {
  width: 100%;
}
body #speakers .inner-box .cards-wrapper .card .photo .icons-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 1s, bottom 1s;
}
body #speakers .inner-box .cards-wrapper .card .photo .icons-box::not(:hover) {
  transition: opacity 1s, bottom 1s;
}
body #speakers .inner-box .cards-wrapper .card .photo .icons-box div {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
body #speakers .inner-box .cards-wrapper .card .photo .icons-box div a {
  color: white;
  text-decoration: none;
}
body #speakers .inner-box .cards-wrapper .card .alt-yazi {
  text-align: center;
}
body #speakers .inner-box .cards-wrapper .card .alt-yazi h5 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}
body #speakers .inner-box .cards-wrapper .card .alt-yazi p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5a5a5a;
  padding-top: 12px;
}
body #speakers .inner-box .cards-wrapper .card:hover .photo {
  filter: brightness(0.7) contrast(1.5);
}
body #speakers .inner-box .cards-wrapper .card:hover .icons-box {
  opacity: 1;
  bottom: 40px;
}
body #speakers .inner-box .btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body #speakers .inner-box .btn-wrapper button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
  margin: 70px 0 90px 0;
}
body #speakers .inner-box .btn-wrapper button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body #pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
}
body #pricing .inner-box {
  width: 100%;
  max-width: 1229px;
}
body #pricing .inner-box .top-writes {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}
body #pricing .inner-box .top-writes p:first-child {
  background-color: rgba(102, 0, 204, 0.1019607843);
  color: #6f42c1;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  border-radius: 15px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body #pricing .inner-box .top-writes h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  max-width: 900px;
}
body #pricing .inner-box .top-writes p:last-child {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #5a5a5a;
  max-width: 900px;
}
body #pricing .inner-box .cards-wrapper {
  padding-bottom: 120px;
  margin: 0 40px;
  margin-top: 46px;
  border-bottom: 1px solid silver;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
body #pricing .inner-box .cards-wrapper .card {
  background-color: rgba(111, 66, 193, 0.04);
  border-radius: 20px;
  border: 1px solid silver;
  overflow: hidden;
  width: 100%;
  padding: 40px 24px;
}
body #pricing .inner-box .cards-wrapper .card .card-head {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
body #pricing .inner-box .cards-wrapper .card .card-head p {
  font-size: 14px;
}
body #pricing .inner-box .cards-wrapper .card .card-head i {
  color: #3ab33a;
}
body #pricing .inner-box .cards-wrapper .card .price {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: row;
  margin-top: 34px;
}
body #pricing .inner-box .cards-wrapper .card .price p:first-child {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #7B68EE;
}
body #pricing .inner-box .cards-wrapper .card .price p:last-child {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 550;
  color: #5a5a5a;
}
body #pricing .inner-box .cards-wrapper .card .inner-writes .setir {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-top: 14px;
}
body #pricing .inner-box .cards-wrapper .card .inner-writes .setir i {
  color: #3ab33a;
}
body #pricing .inner-box .cards-wrapper .card .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}
body #pricing .inner-box .cards-wrapper .card .btn-box button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
}
body #pricing .inner-box .cards-wrapper .card .btn-box button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body #pricing .inner-box .cards-wrapper .card .card-foot {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 10px;
}
body #pricing .inner-box .cards-wrapper .card .card-foot p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 540;
  color: #5a5a5a;
}
body #pricing .inner-box .cards-wrapper .card:hover {
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0 30px rgba(111, 66, 193, 0.3);
}
body #contact {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
body #contact .inner-box {
  width: 100%;
  max-width: 1229px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #contact .inner-box .contact-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 160px;
  text-align: center;
}
body #contact .inner-box .contact-head p {
  background-color: rgba(102, 0, 204, 0.1019607843);
  color: #6f42c1;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  border-radius: 15px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body #contact .inner-box .contact-head h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  max-width: 900px;
  margin-top: 20px;
}
body #contact .inner-box .content {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 40px;
  box-shadow: 0 28px 28px rgba(111, 66, 193, 0.3);
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 68px;
}
body #contact .inner-box .content .left {
  background-image: url(../../../../assests/images/contact-bg.png);
  background-size: 100% 100%;
  flex-wrap: nowrap;
  width: 30%;
  padding: 70px 36px;
  border-radius: 26px;
  overflow: hidden;
}
body #contact .inner-box .content .left .left-head {
  color: white;
}
body #contact .inner-box .content .left .left-head p:first-child {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 4px;
}
body #contact .inner-box .content .left .left-head p:last-child {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  max-width: 80%;
  padding-top: 20px;
}
body #contact .inner-box .content .left .tools-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
body #contact .inner-box .content .left .tools-wrapper .contact-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 18px 20px;
  width: 100%;
}
body #contact .inner-box .content .left .tools-wrapper .contact-tool i {
  color: white;
  font-size: 24px;
}
body #contact .inner-box .content .left .tools-wrapper .contact-tool a {
  text-decoration: none;
  color: white;
}
body #contact .inner-box .content .form {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0;
  margin-top: 80px;
}
body #contact .inner-box .content .form div {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  color: rgb(115, 115, 115);
}
body #contact .inner-box .content .form div input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(243, 243, 243);
  border: none;
}
body #contact .inner-box .content .form div textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(243, 243, 243);
  border: none;
}
body #contact .inner-box .content .form div:nth-child(1) {
  grid-area: 1/1/2/2;
}
body #contact .inner-box .content .form div:nth-child(2) {
  grid-area: 1/2/2/3;
}
body #contact .inner-box .content .form div:nth-child(3) {
  grid-area: 2/1/3/2;
}
body #contact .inner-box .content .form div:nth-child(4) {
  grid-area: 2/2/3/3;
}
body #contact .inner-box .content .form div:nth-child(5) {
  grid-area: 3/1/4/3;
}
body #contact .inner-box .content .form div:nth-child(6) {
  grid-area: 4/1/5/3;
}
body #contact .inner-box .content .form .btn-wrapper {
  margin-top: 20px;
}
body #contact .inner-box .content .form .btn-wrapper button {
  width: 142px;
  height: 48px;
  background: linear-gradient(to right, #7B68EE, #e600ff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  border-radius: 26px;
  border: none;
}
body #contact .inner-box .content .form .btn-wrapper button:hover {
  background: #6f42c1;
  cursor: pointer;
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../../assests/images/footer-bg.png");
  padding: 0 10px;
}
body footer .inner-box {
  width: 100%;
  max-width: 1229px;
  display: grid;
  grid-template-columns: 35% 16% 16% 25%;
  grid-template-rows: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  color: white;
  padding-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
}
body footer .inner-box .eventor {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}
body footer .inner-box .eventor .write {
  line-height: 1.3;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: silver;
}
body footer .inner-box .eventor .icons-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
body footer .inner-box .eventor .icons-wrapper .icon {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
body footer .inner-box .eventor .icons-wrapper .icon:hover {
  background: linear-gradient(#e600ff, #6f42c1);
}
body footer .inner-box .eventor .icons-wrapper .icon a {
  color: white;
  text-decoration: none;
}
body footer .inner-box .about {
  grid-area: 1/2/2/3;
}
body footer .inner-box .enterprice {
  grid-area: 1/3/2/4;
}
body footer .inner-box .contact {
  grid-area: 1/4/2/5;
}
body footer .inner-box .about p,
body footer .inner-box .enterprice p,
body footer .inner-box .contact p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 560;
  margin-bottom: 46px;
}
body footer .inner-box .about ul,
body footer .inner-box .enterprice ul,
body footer .inner-box .contact ul {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
body footer .inner-box .about ul li,
body footer .inner-box .enterprice ul li,
body footer .inner-box .contact ul li {
  list-style-type: none;
}
body footer .inner-box .about ul li a,
body footer .inner-box .enterprice ul li a,
body footer .inner-box .contact ul li a {
  text-decoration: none;
  color: silver;
}
body footer .footer-end {
  width: 100%;
  max-width: 1229px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 16px;
}
body footer .footer-end p {
  color: silver;
}/*# sourceMappingURL=index.css.map */